/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, sans-serif;
}

/* Fundo verde */
body {
    min-height: 100vh;
    background: linear-gradient(135deg, #2e7d32, #66bb6a);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Título */
h1 {
    color: #ffffff;
    margin-bottom: 25px;
}

/* Card */
form {
    background: #ffffff;
    padding: 30px;
    width: 320px;
    border-radius: 12px;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}

/* Inputs */
input {
    margin-bottom: 15px;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
}

/* Foco verde */
input:focus {
    border-color: #2e7d32;
    outline: none;
}

/* Botão */
button {
    padding: 12px;
    background: #2e7d32;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background: #1b5e20;
}

/* Texto */
p {
    margin-top: 15px;
    color: #ffffff;
    font-size: 14px;
}

/* Links */
a {
    color: #0f5fae;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
   
}

/* Link Voltar */
body > a {
    margin-top: 10px;
    color: #ffffff;
    font-size: 14px;
}
